[submodule "base_override"]
	path = base_override
	url = https://github.com/cysnake4713/base_override.git
[submodule "addons/base_override"]
	path = addons/base_override
	url = https://github.com/cysnake4713/base_override.git
