<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <record id="action_social_insurance_type" model="ir.actions.act_window">
            <field name="name">社保类型设置</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">tianv.social.insurance.type</field>
            <field name="view_mode">tree</field>
        </record>

        <record id="action_social_insurance_config" model="ir.actions.act_window">
            <field name="name">社保配置</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">tianv.social.insurance.config</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="action_social_insurance_record" model="ir.actions.act_window">
            <field name="name">社保记录</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">tianv.social.insurance.record</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="menuitem_social_insurance_type_config" name="社保类型" parent="hr.menu_hr_configuration" sequence="40"
                  action="action_social_insurance_type" groups="base.group_no_one"/>

        <menuitem id="menuitem_social_insurance_config_root" name="社保" parent="hr.menu_hr_root" sequence="40"/>

        <menuitem id="menuitem_social_insurance_record" name="社保记录" parent="menuitem_social_insurance_config_root" sequence="5"
                action="action_social_insurance_record"/>

        <menuitem id="menuitem_social_insurance_config" name="社保设置" parent="menuitem_social_insurance_config_root" sequence="10"
                action="action_social_insurance_config" groups="tianv_insurance.group_insurance_admin"/>

        <act_window id="action_social_insurance_confirm"
            multi="True"
            key2="client_action_multi" name="批量确认"
            res_model="tianv.social.insurance.record.wizard" src_model="tianv.social.insurance.record"
            view_mode="form" target="new" view_type="form" />
    </data>
</openerp>