<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <record id="action_tianv_attendance_wizard" model="ir.actions.act_window">
            <field name="name">工资生成向导</field>
            <field name="res_model">tianv.hr.attendance.wizard</field>
            <field name="view_mode">form</field>
        </record>

        <menuitem id="menuitem_tianv_attendance_wizard_root" name="工资计算向导" parent="hr.menu_hr_root" sequence="36"/>
        <menuitem id="menuitem_tianv_attendance_wizard_start" name="开始一个向导" parent="menuitem_tianv_attendance_wizard_root" sequence="4"
                  action="action_tianv_attendance_wizard"/>

    </data>
</openerp>